
# The same content should never be available under two different URLs -
# especially not with and without "www." at the beginning, since this can cause
# SEO problems (duplicate content). That's why you should choose one of the
# alternatives and redirect the other one.

# By default option 1 (no "www.") is activated.
# no-www.org/faq.php?q=class_b

# If you'd prefer to use option 2, just comment out all option 1 lines
# and uncomment option 2.

# IMPORTANT: NEVER USE BOTH RULES AT THE SAME TIME!

# ----------------------------------------------------------------------


# Rewrite rules. Kept here for posterity
# www.delahousse.ca or delahousse.ca ---> christian.delahousse.ca


<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://christian.%1%{REQUEST_URI} [R=301,L]
</IfModule>

<IfModule mod_rewrite.c>
	RewriteCond %{HTTP_HOST} ^delahousse\.ca$ [NC]
	RewriteRule ^ http://christian.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

